.allTransactionsPage {
   .page__inner {
       justify-content: space-between;
   }

    .transactions__list {
        padding-left: 0;        
        padding-top: 0;  

        &.scroll {
            overflow: hidden;
            overflow-y: scroll;
        }
    }

    .new-transaction {
        margin: 0;
    }
}

.all-transactions {
    width: 48%;
}

.allTransactionsPage__filter-wrap {
    width: 48%;
    max-width: 500px;
}
