.allTransactionsPage {
   .page__inner {
       justify-content: space-between;
   }

    .transactions__list {
        padding-left: 0;
        overflow: hidden;
        overflow-y: scroll;
        padding-top: 0;  
    }

    .new-transaction {
        margin: 0;
    }
}

.all-transactions {
    width: 48%;
}

.allTransactionsPage__filter-wrap {
    width: 48%;
}
