/*-----------------------
        create-sources
-----------------------*/

.create-sources {
    max-width: 500px;
    margin: 0 auto;

    .new-transaction__col {
        flex-direction: column;
        align-items: flex-end;
    }

    .new-transaction__row {
        width: 100%;
        padding: 0;

        input {
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }
    }    

    .transaction__title {
        margin-bottom: 20px;
    }

    .page__icon {
        width: 100px;
        height: 100px;
        text-align: center;
    }   
}

.create-sources__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.create-sources__col {
    display: flex;
    align-items: center;
}