.logo { 
    display: flex;
    align-items: center;    
}

.logo__img { 
    display: block;
    max-width: 80px;
}  

.logo__text { 
    margin-left: 26px;
    color: $white;
    font-family: $font-secondary;
    font-size: $fs-20;
    font-weight: $weight-black;
    text-transform: uppercase;
}