/*-----------------------
    FOOTER
-----------------------*/

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: $color-secondary;
    padding: 0 25px;
}

.footer__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__btns {
    display: flex;
    align-items: center;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    // background: $yellow;
    background: #fff;
    // border-radius: 12px;
    margin-right: 5px;

    &.active {
        background: $yellow;
    }
}

.footer__create-btn {
    font-size: 3rem;
    color: $white;
    font-weight: 700;
}

.footer__btn-icon {
    width: 40px;
    height: 40px;
}