/*-----------------------
        SOURCES
-----------------------*/

.sources {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;

    button {
        cursor: pointer;
    }      

    .no-list {
        margin-top: 40px;
    }
}

.sources__list {
    width: 100%;    
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    max-height: 585px;   

    &.scroll {
        overflow: hidden;
        overflow-y: scroll; 
    }
}

.sources-item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 89px;
    border-radius: 12px;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px;

    &:last-child {
        margin-bottom: 0;
    }

    @media (max-width: 380px) {
        .new-transaction__btn {
            margin-left: auto;
        }   
    }
}

.sources-item__title {
    margin: 0 10px;
    min-width: 110px;

    @media (max-width: 380px) {
        font-size: 14px;  
        min-width: 80px;
        max-width: 80px; 
    }
}

.sources-item__total {
    margin-right: 5px;

    @media (max-width: 380px) {
        font-weight: 700;
        color: #3e3f5e;
        font-family: "Rajdhani", sans-serif;   
    }
}

.sources-item__icon {
    width: 50px;
    height: 50px;

    @media (max-width: 380px) {
        width: 40px;
        height: 40px;   
    }
}

.sources__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sources-item__input {
    max-width: 250px;
}