.statisticsPage {

    .page__inner {
        justify-content: space-between;       

        div {
            width: 100% !important;
            max-width: 600px;

            &:first-child {
                margin-bottom: 50px;
            }
        }

        .fusioncharts-container {
            width: 100% !important;           
        }

        svg {
            width: 100% !important;
        }        

        @media (max-width: 1280px) {
            flex-direction: column;
            align-items: center;   
        }
    } 
    
    .page__title {

        @media (max-width: 1280px) {
            text-align: center;
        }
    }
}