/*-----------------------
    VARIABLES
-----------------------*/
@import '../../styles/variables/font';
@import '../../styles/variables/color';
@import '../../styles/variables/color-theme';

/*-----------------------
    GENERAL
-----------------------*/
@import '../../styles/general';

.auth {
    position: relative;
    width: 100%; 
    background: #615dfa; 
    overflow: hidden;
}

.auth__logo {
    display: flex;
    justify-content: center;
}

.auth__inner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 960px) {
        flex-wrap: wrap;
        justify-content: center;
        padding: 15px 0;
    }
}

.auth__decoration {
    width: 64%;
    height: 140%;
    border-radius: 50%;
    background: url('../../images/dot-texture.png') repeat left top $white;
    position: absolute;
    top: -20%;
    right: -32%;
    pointer-events: none;

    @media (max-width: 960px) {
        display: none;   
    }
}

/*----------------------
    2. auth INFO
----------------------*/
.auth__content {
    width: 585px;    
    
    @media (max-width: 960px) {
        margin-bottom: 50px;   
    }

    @media (max-width: 460px) {
        margin-bottom: 0;   
    }
}

.auth__subtitle,
.auth__title,
.auth__text {
    color: $white;
    text-align: center;
}

.auth__subtitle,
.auth__title {
    text-transform: uppercase;
}

.auth__subtitle {
    margin-top: 36px;
    font-size: $fs-24;
    font-weight: $weight-medium;
}

.auth__title {
    font-family: $font-secondary;
    font-size: $fs-104;
    font-weight: $weight-black;
    position: relative;
    
    @media (max-width: 460px) {
        font-size: 80px;   
    }

    @media (max-width: 320px) {
        font-size: 74px;   
    }
}

.auth__text {
    width: 384px;
    margin: 30px auto 0;
    @include paragraph(medium);
    font-weight: $weight-medium;

    @media (max-width: 460px) {
        width: 100%;   
    }
}

.auth__tabs {
    display: flex;
    justify-content: center;
    margin-top: 90px;

    @media (max-width: 960px) {
        margin-top: 50px;   
    }   
}

.auth__tab {
    width: 180px;    
    height: 54px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    cursor: pointer;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;

    @media (max-width: 460px) {
        width: 50%;   
    }
}
  
.auth__tab {
    z-index: 100;

    &.active {
        color: #3e3f5e;
        background-color: #fff;
        cursor: auto;
    }

    &:first-child {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;        
    }

    &:last-child {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;       
    }
}


