/*---------------------
    COLORS
---------------------*/
$white: #fff;
$white-dark: #fcfcfd;
$white-darker: #f5f5fa;

$gray-dark: #8f91ac;
$gray: #adafca;
$gray-light: #dedeea;
$gray-lighter: #eaeaf5;

$black: #3e3f5e;
$black-dark: #2e2e47;
$black-dark-mid: #302f45;
$black-darker: #15151f;

$cyan-dark: #00c7d9;
$cyan: #23d2e2;
$cyan-light: #41efff;
$cyan-hover: #1bc5d4;

$violet-darker: #45437f;
$violet-dark: #4e4ac8;
$violet: #615dfa;
$violet-hover: #5753e4;

$green: #1df377;

$red: #f9515c;
$red-light: #ff5384;
$red-dark: #fd434f;
$red-dark-mid: #fd4350;
$red-darker: #f1315e;
$red-hover: #dd343f;

$blue: #4f8dff;

$light-blue: #3ad2fe;
$light-blue-dark: #35cdff;

$yellow: #ffe00d;
$yellow-light: #fff10d;
